<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品の更新</title>
</head>
<body>
    <h1>商品の更新</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <div>
            <label for="name">商品名：</label>
            <input type="text" id="name" name="name" placeholder="商品名" value="<%= product.name  %>">
        </div>

        <div>
            <label for="price">価格：</label>
            <input type="text" id="price" name="price" placeholder="価格" value="<%= product.price %>">
        </div>
        <div>
            <label for="category">カテゴリ：</label>
            <select name="category" id="category">
                <% for (let category of categories){%>
                        <option value="<%= category %>" <%= product.category === category ? 'selected' : '' %>><%= category %></option>
                <% } %>
            </select>
        </div>
        <input type="submit">
    </form>
    <a href="/products">商品一覧へ</a><br>
    <a href="/products/<%= product._id %>">キャンセル</a>
</body>
</html>